In [50]:
import pandas as pd

In [51]:
df = pd.read_csv('../data/data.csv', encoding='ISO-8859-1')

In [52]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [54]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [55]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [56]:
df.count()

InvoiceNo      541909
StockCode      541909
Description    540455
Quantity       541909
InvoiceDate    541909
UnitPrice      541909
CustomerID     406829
Country        541909
dtype: int64

In [57]:
df = df.dropna(subset=['CustomerID'])
df['Description'] = df['Description'].fillna('No Description')

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406829 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    406829 non-null  object
 1   StockCode    406829 non-null  object
 2   Description  406829 non-null  object
 3   Quantity     406829 non-null  int64
 4   InvoiceDate  406829 non-null  object
 5   UnitPrice    406829 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      406829 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.9+ MB

In [59]:
# Select relevant columns and remove duplicates based on StockCode
dim_customer_df = df[['CustomerID', 'Country']].drop_duplicates(subset=['CustomerID']).reset_index(drop=True)

# Optional: Set StockCode as index
# dim_product_df = dim_product_df.set_index('StockCode')

print("\nDimCustomer DataFrame:")
print(dim_customer_df.head())

DimCustomer DataFrame:
   CustomerID         Country
0     17850.0  United Kingdom
1     13047.0  United Kingdom
2     12583.0          France
3     13748.0  United Kingdom
4     15100.0  United Kingdom

In [60]:
# Select relevant columns and remove duplicates based on StockCode
dim_product_df = df[['StockCode', 'Description','UnitPrice']].drop_duplicates(subset=['StockCode']).reset_index(drop=True)

# Optional: Set StockCode as index
# dim_product_df = dim_product_df.set_index('StockCode')

print("\nDimProduct DataFrame:")
print(dim_product_df.head())

DimProduct DataFrame:
  StockCode                          Description  UnitPrice
0    85123A   WHITE HANGING HEART T-LIGHT HOLDER       2.55
1     71053                  WHITE METAL LANTERN       3.39
2    84406B       CREAM CUPID HEARTS COAT HANGER       2.75
3    84029G  KNITTED UNION FLAG HOT WATER BOTTLE       3.39
4    84029E       RED WOOLLY HOTTIE WHITE HEART.       3.39

In [61]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])
# Get unique dates from the InvoiceDate column
dim_date_df = pd.DataFrame({'FullDate': df['InvoiceDate'].dt.normalize().unique()}) # Normalize to remove time part if desired, or keep full timestamp

# Sort by date
dim_date_df = dim_date_df.sort_values('FullDate').reset_index(drop=True)

# Create a DateID (e.g., as an integer YYYYMMDD or just a sequential index)
dim_date_df['DateID'] = dim_date_df['FullDate'].dt.strftime('%Y%m%d').astype(int)
# Alternatively: dim_date_df['DateID'] = dim_date_df.index + 1 # Simple sequential ID

# Extract date components
dim_date_df['Year'] = dim_date_df['FullDate'].dt.year
dim_date_df['Month'] = dim_date_df['FullDate'].dt.month
dim_date_df['Day'] = dim_date_df['FullDate'].dt.day
dim_date_df['DayOfWeek'] = dim_date_df['FullDate'].dt.dayofweek # Monday=0, Sunday=6
dim_date_df['Quarter'] = dim_date_df['FullDate'].dt.quarter
# Add other components as needed (WeekOfYear, MonthName, etc.)

# Optional: Set DateID as index
# dim_date_df = dim_date_df.set_index('DateID')

print("\nDimDate DataFrame:")
print(dim_date_df.head())

DimDate DataFrame:
    FullDate    DateID  Year  Month  Day  DayOfWeek  Quarter
0 2010-12-01  20101201  2010     12    1          2        4
1 2010-12-02  20101202  2010     12    2          3        4
2 2010-12-03  20101203  2010     12    3          4        4
3 2010-12-05  20101205  2010     12    5          6        4
4 2010-12-06  20101206  2010     12    6          0        4

In [62]:
# Normalize date to match dim_date_df
df['FullDate'] = df['InvoiceDate'].dt.normalize()

# Merge with dim_date_df to get DateID
df = df.merge(dim_date_df[['FullDate', 'DateID']], on='FullDate', how='left')

df['TotalPrice'] = df['UnitPrice'] * df['Quantity']

#Build the fact table with only foreign keys
fact_sales_df = df[['InvoiceNo', 'StockCode', 'CustomerID', 'DateID','TotalPrice']]

print("\nFactSales (FK only) DataFrame:")
print(fact_sales_df.head())

FactSales (FK only) DataFrame:
  InvoiceNo StockCode  CustomerID    DateID  TotalPrice
0    536365    85123A     17850.0  20101201       15.30
1    536365     71053     17850.0  20101201       20.34
2    536365    84406B     17850.0  20101201       22.00
3    536365    84029G     17850.0  20101201       20.34
4    536365    84029E     17850.0  20101201       20.34

In [65]:
dim_customer_df.to_csv('../cleaned/dim_customer.csv', index=False)
dim_product_df.to_csv('../cleaned/dim_product.csv', index=False)
dim_date_df.to_csv('../cleaned/dim_date.csv', index=False)
fact_sales_df.to_csv('../cleaned/fact_sales.csv', index=False)